PORT=3000
CLIENT_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@db:5432/cross_connections"

ACCESS_TOKEN_SECRET=putyourownaccesstoken
REFRESH_TOKEN_SECRET=putrefreshtokensecret

GOOGLE_CLIENT_ID=yourclientid.apps.googleusercontent.com